body{
    font-family: sans-serif;
}
#header{
    position: relative;
}
#header .navbar-brand{
    padding-top: 1.313rem;
    padding-bottom: 1.313rem;
    margin-left: 30px;
}
#header .navbar-nav{
    text-transform: uppercase;
    margin-right: 50px !important;
}
#header .bg-nav{
    background-color: #34495e;
    color: white !important;
}
ul li a{
    color: white !important;
}
#header .skew-header{
    width: 100%;
    height: 290px;
    background-color: white;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 999;
    transform: skew(0deg,-5deg) translateY(100px);
}
#header .carousel-indicators li{
 width: 12px;
 height: 12px;
 margin-left: 5px;
}
#header .carousel-indicators{
    bottom: 350px;
}
#header .top-carousel .banner-content{
    position: absolute;
    width: 100%;
    z-index: 1000;
  text-align: center;
  top: 250px;
  color: white;
  padding-bottom: 10px 40px;

}
#header .top-carousel .banner-content h1{
    font-size: 64px;
    font-weight: bold;
}
a.btn{
    padding:10px 30px;
    background: #34495e;
    color: #fff;
    border-radius: 50px;
    border: 2px solid #34495e;
    text-transform: uppercase;
    font-family: sans-serif;
    font-size: 16px;
}
.adjust{
    margin-left: -18px;
}